/* BODY */

body {
    background-color: azure;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(221, 250, 250);
    border-top: 2px solid rgb(60, 107, 193);
    border-right: 2px solid rgb(60, 107, 193);
    border-left: 2px solid rgb(60, 107, 193);
    border-bottom: 2px solid rgb(60, 107, 193);
    margin: 1%;
    padding: 1%;
}

header p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* MAIN */

h1 {
    color: rgb(60, 107, 193);
}

main {
    width: 15%;
    margin: 1% auto 14%;
    text-align: center;
}

/* FORMULAIRE */

form {
    background-color: rgb(221, 250, 250);
    margin: 5%;
    padding: 10%;
    border-top: 4px solid rgb(60, 107, 193);
    border-right: 2px solid rgb(60, 107, 193);
    border-left: 2px solid rgb(60, 107, 193);
    border-bottom: 1px solid rgb(33, 61, 112);
    border-radius: 15%;
    min-width: 10em;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

input {
    max-width: intrinsic;
    margin-top: 3%;
}

.bouton {
    background-color: aliceblue;
    margin: 10px;
    height: 2rem;
    width: 80%;
    border-radius: 10%;
    border: 2px solid rgb(60, 107, 193);
}

.bouton:hover {
    background-color: azure;
    border: 2px solid rgb(60, 107, 193);
}

.bouton:active {
    background-color: azure;
    border: 1px solid rgb(60, 107, 193);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 250, 250);
    border-top: 2px solid rgb(60, 107, 193);
    border-right: 2px solid rgb(60, 107, 193);
    border-left: 2px solid rgb(60, 107, 193);
    border-bottom: 2px solid rgb(60, 107, 193);
    margin: 1%;
    padding: 1%;
}


/* test (copie du form) */

section {
    margin: 10% auto;
    height: 14em;
    border-top: 4px solid rgb(60, 107, 193);
    border-right: 2px solid rgb(60, 107, 193);
    border-left: 2px solid rgb(60, 107, 193);
    border-bottom: 1px solid rgb(33, 61, 112);
    border-radius: 15%;
    min-width: 10em;
}